<a href = '/questions/new'>New Question</a>
<ul>
  <% @questions.each do |question| %>
    <li><p><%= question.vote_count %></p><nobr><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
  <% end %>
</ul>
